// Define variables for your color scheme

// For example:
$red: #a81719;
$dark-red: #661b1d;
$blue: #74cddf;
$yellow: #ffc65a;
$orange: #f0a274;
$gray: #191919;
$light-gray: #858585;

$green: #1edd88;
$dark-green: #104e32;

$white: #f8f8f8;
$navy: #181c3d;

$pink: #e4aef2;
$dark-pink: #a94cc0;
