<%= link_to listing_path(listing) do %>
  <div class="popup-container">
    <div class="info">
      <h2><%= listing.vehicle_name %></h2>
      <p><%= listing.description %></p>
    </div>
    <p id="price"><strong>€<%= listing.price %></strong></p>
  </div>
<% end %>
