<%= render 'shared/navbar' %>
<h1 class="text-center">Listings near you!</h1>

<div class="container card-grid">
  <% @listings.each do |listing| %>
    <%= link_to listing_path(listing) do %>
      <%= render "card", listing: listing %>
    <% end %>
  <% end %>
</div>
