// Specific CSS for your home-page
.card-container {
  margin: auto;
  width: 60vw;
}

.cards-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 0;
  width: 100%;
}

.description-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  h2 {
    font-size: 25px;
    color: $navy;
    font-family: sans-serif;
  }
  font-size: 25px;
  color: $navy;
  font-family: sans-serif;
}
.card {
  display: flex;
  align-items: center;
  padding-top: 3.6em;

  margin: 20px auto;
  width: 250px;
  height: 250px;

  border-radius: 10px;
  background-color: $white;
  box-shadow: 0px 0px 10px 5px rgba($gray, $alpha: 0.1);
  transition: 0.4s;

  i {
    padding: 0.2em;
    color: $navy;
  }
}

// .card .card_title {
//   text-align: center;
//   border-radius: 0px 0px 40px 40px;
//   font-family: sans-serif;
//   font-weight: bold;
//   font-size: 30px;
//   margin-top: 50px;
//   height: 40px;
//   color: $navy;
// }

.card:hover {
  box-shadow: 0px 0px 10px 5px rgba($gray, $alpha: 0.1);
}

.popup {
  display: none;
  font-weight: 300;
  font-family: sans-serif;
  color: $navy;
  p {
    font-size: 0.6em;
    opacity: 0.8;
  }
}

.card:hover .popup {
  display: block;
}
