.container {
  margin: auto;
  width: 80vw;
}

.rounded-border {
  border-radius: 10px;
}

.split-page {
  display: flex;
  margin-top: 1em;
}

.left-column {
  width: 65%;
  flex-direction: column;
  text-align: left;
  margin-right: 1em;
  border-width: 1px;
  border-style: solid;
  border-color: #f2f7fbd3;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba($gray, $alpha: 0.1);

  h3 {
    font-family: $headers-font;
  }
}

.carousel-img {
  width: 80vw;
  height: 450px;
}

.right-column {
  width: 35%;
  flex-direction: column;
  text-align: right;
  border-width: 1px;
  border-style: solid;
  border-color: #f2f7fbd3;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba($gray, $alpha: 0.1);
}

h3 {
  font-size: 16px;
  font-family: "Work Sans", "Helvetica", sans-serif;
}

p {
  font-size: 16px;
  font-family: "Work Sans", "Helvetica", sans-serif;
}
