.location {
  font-style: italic;
  font-size: 0.8em;
  color: $light-gray;
}

.rounded-border {
  border-radius: 10px;
}

.carousel-img {
  width: 80vw;
  height: 450px;
  object-fit: cover;
  object-position: center;
}

.split-page {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
}

.left-column {
  display: flex;
  width: 65%;
  border-radius: 10px;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 35%;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba($gray, $alpha: 0.1);
}

.booking-form {
  width: 80%;
  text-align: center;
}

.booking-details {
  display: flex;
  p {
    padding-right: 1em;
  }
}
