<h2>All RVs</h2>

<h4>Search by brand</h4>
  <%= form_tag(rv_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search] %>
    <%= submit_tag ("Search") %>
<% end %>

<% @rvs.each do |rvs| %>
  <ul>
    <li><%= link_to rvs.name, rvs_path(rv) %></li><br>
  </ul>
<% end %>

<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#contact">Contact</a>
  <input type="text" placeholder="Search..">
</div>
