<%= render 'shared/navbar' %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('banner-pic.jpg')%>)">
  <div class="container">
    <h1>Take an epic journey on nature and share your memories!</h1>
    <p></p>
  </div>
</div>
