<div
  class="banner d-flex align-items-center justify-content-center"
  style="
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(<%=image_path('banner.jpg')%>);
  "
>
  <div class="home-banner">
    <h1 id="banner-text">
      A <strong>home</strong> <br />
      everywhere you go.
    </h1>
    <%= render 'shared/searchbar' %>
  </div>
</div>
<div class="description-container">
  <h2>
    Find the best RV that suits your needs, and drive continuously to enjoy your
    freedom!
  </h2>
</div>
<div class="card-container">
  <div class="cards-list">
    <div class="card">
      <i class="fas fa-caravan fa-4x card-visual"></i>
      <h3>Find your RV</h3>
    </div>
    <i class="fas fa-arrow-right"></i>
    <div class="card">
      <i class="fas fa-calendar-alt fa-4x card-visual"></i>
      <h3>Choose your dates</h3>
    </div>
    <i class="fas fa-arrow-right"></i>
    <div class="card">
      <i class="fas fa-leaf fa-4x card-visual"></i>
      <h3>Explore your new home</h3>
    </div>
  </div>
</div>

<div class="container">
  <h2>Some of our RVs</h2>
  <div class="card-grid">
    <% @listings.each do |listing| %>
      <%= link_to listing_path(listing) do %>
        <%= render "listings/card", listing: listing %>
      <% end %>
    <% end %>
  </div>
</div>
