body {
  height: 100vh;
  background-color: $white;
  position: relative;
}

// .master-container {
//   padding-top: 15vh;
// }

h1 {
  margin: 0;
  color: $navy;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-family: $body-font;
  font-weight: 900;
}
