body {
  height: 100vh;
  background-color: $white;
  position: relative;
}

h1 {
  margin: 0;
  padding: 0.8em 0;
  color: $navy;
  font-family: $headers-font;
  font-weight: 900;
}

h2 {
  margin: 0;
  color: $navy;
  font-family: $headers-font;
  font-weight: 700;
  font-size: 1.2em;
}

h3 {
  margin: 0;
  padding-bottom: 0.4em;
  color: $navy;
  font-family: $headers-font;
  font-weight: 600;
  font-size: 1.2em;
}

p {
  color: $navy;
  font-family: $body-font;
  font-weight: 400;
  font-size: 0.8em;
}
