.mapboxgl-popup {
  max-width: 200px;
}

.wrapper {
  padding-top: 70px;
}

.index-left {
  width: 70vw;
}

.index-right {
  width: 30vw;
}

#map {
  height: 100vh;
  position: sticky;
  top: 70px;
}

.mapboxgl-popup-content {
  border-radius: 10px !important;
  padding: 1em !important;
}

.popup-container {
  p {
    margin: 0;
  }
}

#price {
  text-align: right;
  padding-right: 5px;
}

.index-right {
  border-left: 3px solid white;
  // box-shadow: 0px 0px 10px 5px rgba($gray, $alpha: 0.1);
}
