.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: $white;
  height: 10vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  font-size: 15px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-btn-flat {
  color: $white;
  margin: 4px;
  padding: 4px 16px;
  border-radius: 10px;
  background: $navy;
  font-size: 14px;
  transition: background 0.3s ease;
}

.navbar-btn-flat:hover {
  color: $white;
  background: $dark-green;
}
