.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
  height: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  font-size: 15px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-btn-flat {
  color: black;
  margin: 4px;
  padding: 4px 16px;
  border-radius: 4px;
  background: #DBDBDB;
  font-size: 14px;
  transition: background 0.3s ease;
}

.navbar-btn-flat:hover {
  background: rgb(161, 160, 160);
}
