.searchbar form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  input {
    border-radius: 10px;
    width: 250px;
    margin-bottom: 0.4em;
  }

  .search {
    width: 100px;
    margin-left: 0;
  }
}
