.searchbar form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  input {
    margin-inline: 4px;
  }
}

.search-button {
  background-color: navy;
  border: navy;
  color: white;
}
